<html>
  <head>	
  	<meta charset="utf-8">
  	<link rel="stylesheet" href="https://at.alicdn.com/t/font_1enp0erzat76i529.css">  
  </head>
  <body>
	  <div class="container">
	  	<div class="ct">ToDoList</div>
	  	<div id="app" >
	  	  <div :class="[iscurrentUser() ? stylesa : stylesb]">
	  		<section id="signInAndSignUp" v-if="!currentUser">
	  			<div  class="register-load">
	  				<label><input type="radio" name="type" value="signUp" v-model="actionType">注册</label>
	  				<label><input type="radio" name="type" value="login" v-model="actionType">登录</label>
	  			</div>
				<div class="signup" v-if="actionType=='signUp'">

					<form @submit.prevent= 'signUp'>
				
						<div class="enroll-box">
							<div class="formRow">
								<label class="enroll-title">账&nbsp;&nbsp;号：</label>
								<input class="zc-input" type="text" placeholder="输入账号" v-model="formData['username']">
							</div>
							<span class="enroll-not"></span>
							<div class="formRow">
								<label class="enroll-title">密&nbsp;&nbsp;码：</label>
								<input class="zc-input" type="text" placeholder="输入密码" v-model="formData['password']">
							</div>	
							<div class="formActions">
								<input type="submit" value="注册">
							</div>	
						</div>
					</form>
				</div>
				<div class="login" v-if="actionType=='login'">
					<form @submit.prevent= 'login'>
						<div class="enroll-box">
							<div class="formRow">
								<label class="enroll-title">账&nbsp;&nbsp;号：</label>
								<input class="zc-input" type="text" placeholder="输入账号" v-model="formData['username']">
							</div>
							<span class="enroll-not"></span>
							<div class="formRow">
								<label class="enroll-title">密&nbsp;&nbsp;码：</label>
								<input class="zc-input" type="text" placeholder="输入密码" v-model="formData['password']">
							</div>	
							<div class="formActions">
								<input type="submit" value="登陆">
							</div>	
						</div>
					</form>
				</div>
	  		</section>	
			<section id="todo" v-if="currentUser">
				<div class="logs">
					<p v-if="currentUser.username" class="pson">你好! {{currentUser.username}}</p>
					<button type="button" @click="logout">登出</button>
				</div>
				<div class="newTask">
					<input type="text" class="form-control" v-model="newTodo" @keypress.enter="addTodo" placeholder="请输入代办事项">			
				</div>
				<ol class="todos">
					<li v-for="todo in todoList" v-cloak>
						<input type="checkbox" v-model="todo.done">
						<span class="tit">{{todo.title}}</span>
						<span v-if="todo.done">已完成</span>
						<span v-else>未完成</span>
						<span>创建时间</span>
						<span>{{todo.createdAt}}</span>		 
				        <button type="button" class="btn-danger" @click="removeTodo(todo)">
				         	<span class="iconfont icon-shanchu"></span>
				        </button>
					</li>
				</ol>
			</section>
		  </div>
		</div>
	</div>
    <script src="bundle.js"></script>
  </body>
</html>